
<div class="py-3 border-top">
  <div class="container">

<!--    <p class="h5 mb-3">{{ site.title | escape }}</p>-->
    <p class="h5 mb-3">Contact</p>

    <div class="row">

      <div class="col-sm text-left">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
              <a> | </a>
              <a href="{{ site.instagram }}"><img src="../image/iconfinder_Instagram_1298747.svg" style="display:inline;width:35px;height:35px" /></a>
              <a> | </a>
               <a href="{{ site.linkedin }}"><img src="../image/Linkedin-Logo.png" style="display:inline;width:32px;height:32px"/></a>
              <a> | </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="col-sm text-right">
<!--        <p>{{- site.description | escape -}}</p>-->
        <!-- <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a>
        </p> -->
      </div>

    </div>

  </div>
</div>
